.card {
  border: 1px solid #f8f8f8;
  padding: 0px 0px 20px 0px;
  width: 320px;
  border-radius: 10px;
  margin-bottom: 30px;
  justify-content: space-between;
  margin-right: 20px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  cursor: pointer;

  
}


.plus,
.favorite img {
  transition: transform 0.15s ease, opacity 0.15s ease;
}

/* только десктоп */
@media (hover: hover) and (pointer: fine) {
  .plus:hover,
  .favorite:hover img {
    transform: scale(1.15);
    opacity: 0.85;
  }
}

.image{
  border-radius: 5px 5px 0px 0px;

}
.card:hover {
  box-shadow: 0px 20px 30px rgba(39, 39, 39, 0.1);
  transform: translateY(-5px);
}

.plus {
  cursor: pointer;
  margin-right: 15px;
}

.favorite {
  position: absolute;
  cursor: pointer;
}

@media (max-width: 800px) {
  .card{
    border: 1px solid #f8f8f8;
    padding: 0px 0px 20px 0px;
    width: 47vw;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-right: 5px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
}



.shortDescription {
  font-size: 13px;
  color: #777;
  margin: 0px 0 20px 15px;
  line-height: 1.4;
max-width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

