.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #fff;
  position: relative;
  width: 900px;
  max-width: 95vw;
  border-radius: 8px;
  padding: 80px 40px 80px 80px;
}

.close {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background: transparent;
  font-size: 22px;
  cursor: pointer;
}

.content {
  display: flex;
  gap: 20px;
}


.imageWrapper {
  flex: 0 0 45%;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.info h2{
    margin-top: 0px;
}

.price {
  margin: 0px 0 0px;
  font-size: 20px;
}

.description {
  font-size: 14px;
  line-height: 1.6;
  white-space: pre-line;
  margin-bottom: 20px;
}
.buy {
  align-self: flex-start;
  padding: 12px 24px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .popup {
    width: 95%;
    padding: 40px 15px 15px 15px;
  }

  .content {
    flex-direction: column;
  }

  .imageWrapper {
    flex: none;

    img {
      max-height: 250px; 
      object-fit: cover;
    }
  }

  .close {
    top: 8px;
    right: 8px;
  }
}
