.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.popup {
  background: #fff;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 90vh;

  img {
    width: 100%;
    margin-bottom: 15px;
  }

  button {
    margin-top: 20px;
    cursor: pointer;
  }
}

.description {
  white-space: pre-line;
  font-size: 14px;
  line-height: 1.6;
}
